<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agregar Producto</title>
  <head>
    <meta charset="UTF-8">
    <title>Agregar Producto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ferreteria/styles/agregar.css' %}">
</head>
</head>
<body>

  <div class="centered-container">
    <form method="post">
      <h2>Agregar Producto</h2>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Guardar Producto">
    </form>
  </div>

</body>
</html>
