{% extends 'ferreteria/dashboard_base.html' %}

{% block title %}Agregar Producto{% endblock %}

{% block menu %}
<div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{% url 'agregar_producto' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Agregar Producto</a>
    <a href="{% url 'listar_productos' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Ver Productos</a>
    <a href="{% url 'gestionar_usuarios' %}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Gestionar Usuarios</a>
</div>
{% endblock %}

{% block content %}
<div class="w3-container w3-padding-32">
  <div class="w3-card-4 w3-white w3-padding w3-round-large" style="max-width:600px; margin:auto">
    <h2 class="w3-center">Usuarios</h2>
    <table style="margin:auto; background:#1e1e1e; color:#eee; border-collapse: collapse;">
        <tr style="background:#333;">
            <th style="padding:10px;">Usuario</th>
            <th style="padding:10px;">Rol Actual</th>
            <th style="padding:10px;">Cambiar Rol</th>
        </tr>
        {% for user in usuarios %}
        <tr>
            <td style="padding:10px;">{{ user.username }}</td>
            <td style="padding:10px;">
                {% if user.is_superuser %}
                    Admin
                {% else %}
                    Cliente
                {% endif %}
            </td>
            <td style="padding:10px;">
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <select name="rol">
                        <option value="cliente" {% if not user.is_superuser %}selected{% endif %}>Cliente</option>
                        <option value="admin" {% if user.is_superuser %}selected{% endif %}>Admin</option>
                    </select>
                    <input type="submit" value="Actualizar">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
