<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ferreteria/styles/inicio.css' %}">
</head>

<body>
    <form>
        <h2>Bienvenido, {{ usuario.username }}</h2>
        <br>
        <br>

        {% if request.user.is_staff or request.user.is_superuser %}
        <p><a href="{% url 'agregar_producto' %}">➕ Agregar Producto</a></p>
        <p><a href="{% url 'listar_productos' %}">📋 Ver Productos</a></p>
        <p><a href="{% url 'gestionar_usuarios' %}">👤 Gestionar Usuarios</a></p>
        {% endif %}

        
        <button><a href="{% url 'login' %}">Salir</a></button>
        
    </form>
</body>

</html>