{% extends 'ferreteria/dashboard_base.html' %}

{% block title %}Agregar Producto{% endblock %}

{% block menu %}
<div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{% url 'agregar_producto' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Agregar Producto</a>
    <a href="{% url 'listar_productos' %}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>  Ver Productos</a>
    <a href="{% url 'gestionar_usuarios' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Gestionar Usuarios</a>
</div>
{% endblock %}

{% block content %}
<div class="w3-container w3-padding-32">
  <div class="w3-card-4 w3-white w3-padding w3-round-large" style="max-width:600px; margin:auto">
    <h2 class="w3-center">Listado de Productos</h2>
    <table style="margin:auto; background:#1e1e1e; color:#eee; border-collapse: collapse;">
        <thead style="background:#333;">
            <tr>
                <th style="padding:10px;">ID</th>
                <th style="padding:10px;">Nombre</th>
                <th style="padding:10px;">Descripción</th>
                <th style="padding:10px;">Precio</th>
                <th style="padding:10px;">Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td style="padding:10px;">{{ producto.id }}</td>
                <td style="padding:10px;">{{ producto.nombre }}</td>
                <td style="padding:10px;">{{ producto.descripcion }}</td>
                <td style="padding:10px;">${{ producto.precio }}</td>
                <td style="padding:10px;">{{ producto.stock }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="padding:10px; text-align:center;">No hay productos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
