<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registro de Usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ferreteria/styles/registro.css' %}">
</head>
<body>
    <form method="post">
        <h2>Registro de Usuario</h2>
        {% csrf_token %}
        
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        
        {{ form.non_field_errors }}
        
        <label for="{{ form.username.id_for_label }}">Usuario:</label>
        {{ form.username }}
        {{ form.username.errors }}

        <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}

        <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}

        <input type="submit" value="Registrar" />
    </form>
</body>
</html>
